@CHARSET "UTF-8";
.th_wrapper{
    order: 2px solid #9dadb6;
    box-sizing: border-box;
    display: inline-block;
    height: 104px;
    vertical-align: top;
    margin: 0 6px 6px 0;
    width: 104px;order: 2px solid #9dadb6;
    box-sizing: border-box;
    display: inline-block;
    height: 104px;
    vertical-align: top;
    margin: 0 6px 6px 0;
    width: 104px;
   
}
.image-select-edit{
	background-image: url("../images/edit.png");
        position:relative;
	background-color: white;
	background-repeat: no-repeat;
	/*padding-left: 20px;*/
	display: inline-block;
	height: 180px;
        width:140px;
        float:right;
       /* border:1px solid blue;*/
}
.image-select-edit:after {
    content: "\f083";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 84px;
   
     border: 1px dashed #c5d7b5;
}
.image-select-loading {
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center; 
	z-index: 999;
	opacity: 0.5;
	background-color: #000000;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
        margin: 0 5px 13px 0;
}
.tools-edit-image a.delete{
     filter: alpha(opacity=100); opacity: 0;
        -webkit-transition: all .1s ease-out;
        -moz-transition: all .1s ease-out;
        -o-transition: all .1s ease-out;
        transition: all .1s ease-out;
}

.tools-edit-image:hover a.delete{
     filter: alpha(opacity=100); opacity: 1.00;
        -webkit-transition: all .1s ease-out;
        -moz-transition: all .1s ease-out;
        -o-transition: all .1s ease-out;
        transition: all .1s ease-out;
    
}
